
<h1> Questions </h1>


<% @question.each do |p| %>
<p><a href="/questions/<%=p.id%>"> TITLE: <%= p.title %></a></p>
<p>DESCRIPTION : <%= p.description %></p>
<p>USER ID : <%= p.user_id %></p>
<p>QUESTION ASKED AT : <%= p.created_at %></p><br>
<% end %>
