<!-- question index page showing all the questions -->
<!-- A page showing a particular question including its answers -->
<!DOCTYPE html>
<html>
<head>
	<title></title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/users.css">
</head>
<body>
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	    	<a href='/question/user/:id'>
	      <img src="https://cdn.worldvectorlogo.com/logos/quora-1.svg" alt="Quora Logo" style="width:10em;height:3.5em;">
	      </a>
	    </div>
	    <!-- <ul class="nav navbar-nav">
	      <li class="active"><a href="#">Home</a></li>
	      <li><a href="#">Page 1</a></li>
	      <li><a href="#">Page 2</a></li>
	    </ul> -->
	    <ul class="nav navbar-nav navbar-right">
	      <!-- <li><a href="#"><span class="glyphicon glyphicon-user green"></span> Sign Up</a></li> -->
	      <form action="/logout" method="post">
	      <li><button class="btn btn-lg btn-block quored" type="submit">Log out</button><!-- <a href="/logout" class="quored"><span class="glyphicon glyphicon-log-out"></span> Log out</a> --></li>
	      </form>
	    </ul>
	  </div>
	</nav>
	<h1 class="quored">Questions</h1>

	<table>
		<tr>
			<th class="center">No.</th>
			<th class="center">Title</th>
			<th class="center">Content</th>
			<th>User ID</th>
			<th>Vote Count</th>
			<th>Vote</th>
		</tr>
		<% Question.all.each do |x| %>
		<tr>
			<td class="center"><%= x.id%></td>
			<td class="padleft"><%= x.title%></td>
			<%#@question = x.content%>
			<td><a href= <%= x.id%> > <%= x.content %></a></td>
			<td><%= x.user_id%></td>
			<td><%= QuestionVote.where(question_id:x.id).inject(0){|sum,n| sum + n.question_vote}%></td>
			<td>
				<form action= /vote_up/<%= x.id %> method="post">
					<button type="submit" class="btn btn-success glyphicon glyphicon-thumbs-up"></button>
				</form>
			</td>
			<td>
				<form action= /vote_down/<%= x.id %> method="post">
					<button type="submit" class="btn btn-success glyphicon glyphicon-thumbs-down"></button>
				</form>
			</td>
		</tr>
		<%end%>
		<%# Question.all.each do |x| %>
		<tr>
			<!-- <td class="center"><%#= x.id%></td>
			<td class="padleft"><%#= x.title%></td>
			<td><%#= x.content%></td>
			<td><%#= x.user_id%></td>  -->
		</tr>
		<%#end%>
	</table>

</body>
</html>