<h1> <%= @question.text %> </h1>

<p> Asked by: <%= User.find(@question.user_id).first_name %> <%= User.find(@question.user_id).last_name %> <p>

<% @vote = QuestionVote.find_by(user_id: current_user.id, question_id: @question.id) %>
<% @upvotes = QuestionVote.where(vote: "up", question_id: @question.id) %>
<% if @vote.nil? %>
	<form action="/question_votes" method="post">
		<input type="hidden" name="question_vote[question_id]" value="<%= @question.id %>" >
		<input type="hidden" name="question_vote[vote]" value="up" >
		<input type="submit" value="Upvote" >
	</form>
	<form action="/question_votes" method="post">
		<input type="hidden" name="question_vote[question_id]" value="<%= @question.id %>" >
		<input type="hidden" name="question_vote[vote]" value="down" >
		<input type="submit" value="Downvote" >
	</form>
<% elsif @vote.vote == "up" %>
	<form action="/question_votes/<%=@vote.id%>" method="post">
		<input id="hidden" type="hidden" name="_method" value="delete">
		<input type="submit" value="Upvoted | <%=@upvotes.size%>">
	</form>
<% elsif @vote.vote == "down" %>
	<form action="/question_votes/<%=@vote.id%>" method="post">
		<input id="hidden" type="hidden" name="_method" value="delete">
		<input type="submit" value="Downvoted">
	</form>
<% end %>

</br>

<% @question.answers.order(created_at: :desc).each do |a| %>
	<div>
		<p> "<%= a.text %>" </br> 
		<%= User.find(a.user_id).first_name %> <%= User.find(a.user_id).last_name %>,
		<%= a.created_at %> </p>
		<% @comments = AnswerComment.where(answer_id: a.id).size %>
		<a href="/answer/<%=a.id%>/answer_comments" >
		<%if @comments > 0 %> Comments <%=@comments%> <% else %> Comment <% end %> </a>

		<% @vote = AnswerVote.find_by(user_id: current_user.id, answer_id: a.id) %>
		<% @upvotes = AnswerVote.where(vote: "up", answer_id: a.id) %>
		<% if @vote.nil? %>
			<form action="/answer_votes" method="post">
				<input type="hidden" name="answer_vote[answer_id]" value="<%= a.id %>" >
				<input type="hidden" name="answer_vote[vote]" value="up" >
				<input type="submit" value="Upvote" >
			</form>
			<form action="/answer_votes" method="post">
				<input type="hidden" name="answer_vote[answer_id]" value="<%= a.id %>" >
				<input type="hidden" name="answer_vote[vote]" value="down" >
				<input type="submit" value="Downvote" >
			</form>
		<% elsif @vote.vote == "up" %>
			<form action="/answer_votes/<%=@vote.id%>" method="post">
				<input id="hidden" type="hidden" name="_method" value="delete">
				<input type="submit" value="Upvoted | <%=@upvotes.size%>">
			</form>
		<% elsif @vote.vote == "down" %>
			<form action="/answer_votes/<%=@vote.id%>" method="post">
				<input id="hidden" type="hidden" name="_method" value="delete">
				<input type="submit" value="Downvoted">
			</form>
		<% end %>
	</div>
	</br> </br>
<% end %>	

<form action="/" method="get">
<input type="submit" value="Homepage">
</form>


