<% answer = Answer.find(@answerId) %>


<div style="float: left;">
	<input class = "answer_id" type="hidden" value="<%= answer.id%>">
	<input class = "answer_counter_state" type="hidden" 
		value="<%= 
		x = AnswerVote.find_by(answer_id: answer.id, user_id: session[:user_id]);
		if x == nil
			'0'
		else 
			x.counter
		end
		%>"
	> 
	<input class="answer_upvote_button" type="submit" value="upvote">


	<p class="vote_counter_answer"><%
		votes = 0;
		answer_id = answer.id;
		cumulated_votes = AnswerVote.where(answer_id: answer_id);
		cumulated_votes.each do |t|
			votes += t.counter
		end%>
		<%= votes %>
	</p>

	<input class="answer_downvote_button" type="submit" value="downvote">
</div>

<% uniqueId = "answer-#{answer.id}" %>
<div>
	<span class="answer"><%= answer.user.full_name %></span>
	<% if session[:user_id] == answer.user.id %>
		<input type="hidden" value="<%= uniqueId %>">
		<input class="signaledit" id="<%= "toggle-#{uniqueId}" %>" type="submit" value="Edit">
		<input class="deletebutton" type="submit" value="Delete">
	<% end %>
</div>

<div id="<%= uniqueId %>">
	<span><%= answer.content %></span> <!-- Is toggled in the javascript -->

	<!-- Edit stuff, all are toggled in the javascript -->
	<textarea class="edit"><%= answer.content %></textarea>
	<input class="edit editbutton" type="submit" value="Save">
	<input type="hidden" value="<%= uniqueId %>">
</div>
<div style="clear: both;"></div>

