<div class="entry">
	<div style="border: 1px;">
		<div style="float: left;">
			<input class = "question_id" type="hidden" value="<%= row.id%>">
			<input class = "counter_state" type="hidden" 
				value="<%= 
				x = QuestionVote.find_by(question_id: row.id, user_id: session[:user_id]);
				if x == nil
					'0'
				else 
					x.counter
				end
				%>"
			> 
			<input class="upvote_button" type="submit" value="upvote">


			<p class="vote_counter"><%
				votes = 0;
				question_id = row.id;
				cumulated_votes = QuestionVote.where(question_id: question_id);
				cumulated_votes.each do |t|
					votes += t.counter
				end%>
				<%= votes %>
			</p>
			<input class="downvote_button" type="submit" value="downvote">
		</div>

		<div>
			<div>
				<span>Username: <%= row.user_id.nil? ? '&lt;nil&gt;' : User.find(row.user_id).full_name %>
		
				<!--
				<input type="hidden" value="<%= "#{row.id},question" %>">
				<input class="editbutton" type="submit" value="Edit">
				<input class="deletebutton" type="submit" value="Delete">
				-->
			</div>
			<div><b><a href="/question/<%= row.id %>" class="question-header"><%= row.content %></a></b></div>
		</div>
		<div style="clear: both;"></div>
	</div>

	<%= displayReply(row.id) %>
</div>