<div class="navbar">

	<ul class="pagelinks">
		<li class="button" id="profile_page"><a href="/users/<%= current_user.id %>/profile" style="color: black">MY PROFILE</a></li>
    <li class="button" id="my_questions"><a href="/questions" style="color: black">MY QUESTIONS</a></li>
    <li class="button" id="my_answers"><a href="/answers" style="color: black">MY ANSWERS</a></li>
  </ul>

  <form id="logout" method="post" action="/logout" >
		<button type=submit value="Log out" class="logout-button">
			Log out
		</button>
	</form>

</div>

<p>Welcome, <a href="/users/<%= current_user.id %>/profile"><%= current_user.first_name %></a></p>

<br>

<div>

<h2>Post a Question</h2>

<p class="question-submit">
	<form id="question_form" method="post" action="/questions">

	<textarea name="question[description]" placeholder="What is your question?" required></textarea>
	<input id="ask_button" type="submit" value="Ask!">
	
	</form>
</p>

</div>

<div>

<h2>Answer a Question</h2>

<% @question_pagination = Question.order('created_at DESC').paginate(:page => params[:page], :per_page => 10)
	@user = User.find(params[:id]) %>

<% @question_pagination.each do |q| %>
    <p>On <%= q.created_at %>, <a href ="/users/<%= q.user.id %>/profile"><%= q.user.first_name + " "  + q.user.last_name %></a> asked:<br>
        <%= q.description %></p>

			<form id='question_upvote_<%= q.id %>' style='display:inline;' method='post' action='/questions/<%= q.id %>/up'>
				<input id='upvote_<%= q.id%>' type='submit' value='Upvote <%= QuestionVote.where(question_id: q.id, points: 1).count %>'>
			</form>
		
			<form id='question_downvote_<%= q.id %>' style='display:inline;' method='post' action='/questions/<%= q.id %>/down'>
				<input id='downvote_<%= q.id %>' type='submit' value='Downvote <%= QuestionVote.where(question_id: q.id, points: -1).count %>'>
			</form>

        <div>
            <form method="post" action="/questions/<%= q.id %>/answers/new">
            <textarea name="answer[content]" placeholder="Type an answer"></textarea>
            <input type="submit" value="Answer!">
            </form>
        </div>
        <a href="/questions/<%= q.id %>">Show all answers</a>
        <br>
<% end %>

</div>

<%= will_paginate @question_pagination %>
