<div class='block_1'>
	<div class="profile_container">
		<p><%= User.find_by(id: params[:id]).full_name%></p>
	</div>

	<div class="column_1">
		<h3 class="title_block_1">Feeds</h3>
		<p><a href=<%= "/profile/#{params[:id]}"%>>questions</a><%= Question.where(user_id: params[:id]).count%></p>
		<p><a href=<%="/profile/#{params[:id]}/answers"%>>answers</a><%= Answer.where(user_id: params[:id]).count%></p>
	</div>

	<div class="column_2">
		<h3 class="title_block_1">Answers</h3>
		<% all_answers = User.find_by(id: params[:id]).answers %>
		<% all_answers.each do |t| %>
			<div class="entry">
				<%= displayAnswer(t.id) %>
			</div>
		<% end %>	
	</div>
</div>
	
<div class="block_2">
	<div class="column_3" id = "top">
		<p>hello</p>
	</div>
	<div class="column_3">
		<p>hello</p>
	</div>

</div>