<% questions = Question.order(created_at: :desc).limit(10) %>
<% questions.each do |row| %>
  <div class="entry">
    <div>Username: <%= row.user_id.nil? ? '&lt;nil&gt;' : User.find(row.user_id).full_name %></div>
    <div><%= row.content %></div>

	<input class = "question_id_upvote" type="hidden" value="<%= row.id%>">
	<input class="upvote_button" type="submit" value="submit">

 	<p class="vote_counter"><%
 		votes = 0;
	 	question_id = row.id;
	 	cumulated_votes = QuestionVote.where(question_id: question_id);
		cumulated_votes.each do |t|
			votes += t.counter
		end%>
 		<%= votes%>
 	</p>

		<input class = "question_id_upvote" type="hidden" value="<%= row.id%>">
		<input class="downvote_button" type="submit" value="submit">
  </div>
<% end %>