<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/users.css">
</head>
<body>
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <img src="https://cdn.worldvectorlogo.com/logos/quora-1.svg" alt="Quora Logo" style="width:10em;height:3.5em;">
	    </div>
	    <!-- <ul class="nav navbar-nav">
	      <li class="active"><a href="#">Home</a></li>
	      <li><a href="#">Page 1</a></li>
	      <li><a href="#">Page 2</a></li>
	    </ul> -->
	    <ul class="nav navbar-nav navbar-right">
	      <!-- <li><a href="#"><span class="glyphicon glyphicon-user green"></span> Sign Up</a></li> -->
	      <li><a href="/logout" class="quored"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
	    </ul>
	  </div>
	</nav>
	<h1 class="quored">Welcome !</h1>

	<p>Your email is <%= @user.email %> </p>

	<div class="container">
	  <form action="/questions" method="post">
	    <div class="form-group row">
	      <label for="lgFormGroupInput" class="col-sm-2 col-form-label col-form-label-lg">Question Title</label>
	      <div class="col-sm-10">
	        <input name="question[title]" type="qtitle" class="form-control form-control-lg" id="lgFormGroupInput" placeholder="Key in your question title!">
	      </div>
	    </div>
	    <div class="form-group row">
	      <label for="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-sm">Question Content</label>
	      <div class="col-sm-10">
	        <input name="question[content]" type="qcontent" class="form-control form-control-sm" id="smFormGroupInput" placeholder="Key in your question content!">
	      	<input type="hidden" name="question[user_id]" value="<%= current_user.id%>">
	      </div>
	    </div>
	    <button class="btn btn-lg btn-block quored" type="submit">Ask Quora</button>
	  </form>

	  <table>
	  	<tr>
	  		<th class="center">No.</th>
	  		<th class="center">Title</th>
	  		<th class="center">Content</th>
	  	</tr>
	  	<% Question.all.each do |x| %>
	  	<%if x.user_id == current_user.id%>
	  	<tr>
	  		<td class="center"><%= x.id%></td>
	  		<td class="padleft"><%= x.title%></td>
	  		<td><%= x.content%></td> 
	  	</tr>
	  	<%else%>
	  	<%end%>
	  	<%end%>
	  </table>
	</div>
</body>
</html>