<h2>Sign up for an account!</h2>
<form method="post" action="/user">
	<input type=text placeholder="Full Name" name="user[full_name]" value="<%= params[:user][:full_name] if (params[:user]!=nil) %>"><br>
	<input type=text placeholder="Email" name="user[email]" value="<%= params[:user][:email] if (params[:user]!=nil)%>"><br>
	<input type=password placeholder="Password" name="user[password]" value="<%= params[:user][:password] if (params[:user]!=nil)%>"><br>
	<input type=password placeholder="Password" name="user[password_confirmation]" value="<%= params[:user][:password_confirmation] if (params[:user]!=nil)%>"><br>
	<input type=submit value="Sign up">
</form>
<p><%= @user.errors.messages if (@user!=nil) %></p>

