<h1>QueAndAns</h1>


<% if logged_in? %> 
 <!-- true if current user exist, false otherwise -->
 <a href="/users/<%= current_user.id %>"><p>Profile</p></a>
  <form method= "post" action= "/logout">
     <input type= submit value= "Log out">
  </form>

<!-- #if just display create new post -->
   <form method="post" action="/question" id="main-question-form-input">
       <input type="text" placeholder="question" name="question[title]"><br>
       <input type="text" placeholder="description" name="question[description]"></br>
       <input type=submit value="Ask">
   </form>

 <!-- #else asked question then display existing post -->
   <h2>Top stories</h2>
   <% @questions.each do |q| %>

     <p><a href="/question/<%=q.id%>"><%= q.title %></a></p>
     <p><%= q.description %></p>

     <form method= "get" action="/question/<%=q.id%>">
            <input type= submit value= "Answer">
     </form>

  <div>
      <form class="question_upvote" data-qid="<%=q.id%>" method= "post" action="/question/<%=q.id%>/upvote">

          <% button_upvote = "Cancel Upvote" %>
          <% current_upvote = current_user.question_votes.where(question_id: q.id, vote_type: true) %>
          <% if current_upvote.empty? %>
            <% button_upvote = "Upvote" %>
          <% end %>

          <input type="submit" value= "<%= button_upvote %> | <%= QuestionVote.where(vote_type: true, question_id: q.id).count %>">
      </form>

      <form class="question_downvote" data-qid="<%=q.id%>" method= "post" action="/question/<%=q.id%>/downvote">

          <% button_downvote = "Cancel Downvote" %>
          <% current_downvote = current_user.question_votes.where(question_id: q.id, vote_type: false) %>
          <% if current_downvote.empty? %>
            <% button_downvote = "Downvote" %>
          <% end %>

             <input type= submit value= "<%= button_downvote %> | <%= QuestionVote.where(vote_type: false, question_id: q.id).count %>">
      </form>
  </div>

   <% end %>

<% else %>

   <h2>Log in</h2>
     <form method="post" action="/login">
         <input type="text" placeholder="Email" name="user[email]"><br>
         <input type="password" placeholder="Password" name="user[password]"></br>
         <input type=submit value="Sign in">
     </form>

   <p>No account? Please <a id= "signup" href='/signup'>sign up</a> </p>
  
<% end %>

<%= will_paginate @questions, previous_label: "Back", next_label: "More", inner_window: 1, outer_window: 0 %>



