<h2>WELCOME MY FRIENDS!</h2>

<!-- <form action="/logout" method="post">
	<input type="submit" value="logout">
</form> -->

<h2>CHECK OUT THE QUESTIONS!</h2>

<a href="/questions/new">Ask a question</a>

<h3>Some questions here</h3>
<table>
	<tbody>
		<% Question.order('created_at DESC').limit(10).each do |q| %>
			<tr>
				<td><%= q.user.full_name %></td>
				<td><a href="/questions/<%= q.id %>"><%= q.text %></a></td>

				<td><form action="/questions/<%= q.id %>/votes" method="post">
						<input type="submit" value="Upvote" name="question_vote[vote_type]">
						<input type="submit" value="Downvote" name="question_vote[vote_type]">
					</form>
				</td>

				<td><% if !q.answers.order('updated_at DESC').limit(1).empty? %>
						<% ans_obj = q.answers.order('updated_at DESC').limit(1)[0] %>
						<%= ans_obj.text %>
					<% end %>
				</td>

				<td>
					<% if !ans_obj.text.empty? %>
						<form action="/questions/<%= q.id %>/answers/<%= ans_obj.id %>/votes" method="post">
							<input type="submit" value="Upvote" name="answer_vote[vote_type]">
							<input type="submit" value="Downvote" name="answer_vote[vote_type]">
						</form>
					<% end %>
				</td>
				
			</tr>
		<% end %>
	</tbody>
</table>