
<h2>Hi <%= current_user.first_name %>! </h2>


<form action="/sessions/:id" method="post">
<input id="hidden" type="hidden" name="_method" value="delete">
<input type="submit" value="Logout">
</form>

<form action="/users/<%= current_user.id%>" method="get">
<input type="submit" value="My profile">
</form>

<form action="/questions" method="post">
<input type="text" name="question[text]" placeholder="Do you have a question?" required pattern=".+?">
<input type="submit" value="Ask!">
</form>

<% if @errors != nil %>
	<ul>
  	<% @errors.each do |msg| %>
    	<li><%= msg %></li>
  	<% end %>
  </ul>
<% end %>

<% Question.order(created_at: :desc).each do |q| %>
	<div>
		<h2> <%= q.text %></h2>
		<p> Asked by: <%= User.find(q.user_id).first_name %> <%= User.find(q.user_id).last_name %></p>
		<form action="/answers" method="post">
			<input type="hidden" name="answer[question_id]" value="<%= q.id %>">
			<input type="text" name="answer[text]" placeholder="Do you have an answer?" required pattern=".+">
			<input type="submit" value="Submit answer">
		</form>
		<% answers_count = Answer.where(question_id: q.id).size %>
		<%if answers_count > 0 %>
			<p> <a href="/questions/<%= q.id %>"> Read <%= answers_count %> answer(s)</a> </p>
		<% end %>
		<% @vote = QuestionVote.find_by(user_id: current_user.id, question_id: q.id) %>
		<% @upvotes = QuestionVote.where(vote: "up", question_id: q.id) %>
		<% if @vote.nil? %>
			<form action="/question_votes" method="post">
				<input type="hidden" name="question_vote[question_id]" value="<%= q.id %>" >
				<input type="hidden" name="question_vote[vote]" value="up" >
				<input type="submit" value="Upvote" >
			</form>
			<form action="/question_votes" method="post">
				<input type="hidden" name="question_vote[question_id]" value="<%= q.id %>" >
				<input type="hidden" name="question_vote[vote]" value="down" >
				<input type="submit" value="Downvote" >
			</form>
		<% elsif @vote.vote == "up" %>
			<form action="/question_votes/<%=@vote.id%>" method="post">
				<input id="hidden" type="hidden" name="_method" value="delete">
				<input type="submit" value="Upvoted | <%=@upvotes.size%>">
			</form>
		<% elsif @vote.vote == "down" %>
			<form action="/question_votes/<%=@vote.id%>" method="post">
				<input id="hidden" type="hidden" name="_method" value="delete">
				<input type="submit" value="Downvoted">
			</form>
		<% end %>
	</div>
	</br> </br>
<% end %>


