<form id="profile-form">
  <h2>My Profile</h2>
  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Id:
  <input class="profile-text" type="text" value="<%= @user.id%>"" size="30">
  <br>
  <br>
  <br>
  &emsp;&nbsp;First Name:
  <input class="profile-text" type="text" value="<%= @user.first_name%>"" size="30">
  <br>
  <br>
  <br>
  &emsp;&nbsp;&nbsp;Last Name:
  <input class="profile-text" type="text" value="<%= @user.last_name%>"" size="30">
  <br>
  <br>
  <br>
  &emsp;&emsp;Full Name:
  <input class="profile-text" type="text" value="<%= @user.first_name%>"" size="30">
  <br>
  <br>
  <br>
  Email Address:
  <input class="profile-text" type="text" value="<%= @user.email%>" size="30">
  <br>
  <br>
  <br>
  <input id="edit-button" type="submit" value="Edit">
</form>
<!--the button is demostrate-->
<button id="profile-back">&crarr;</button> 
