<!-- Question page -->
<div class="question-body">

	<!-- Display question title -->
	<div class="question-title">
		<h1><%= @question.title%></h1>
	</div>

	<!-- Display upvote / downvote button for the question -->
	<form action="/question_votes" method="post">
		<button type="submit" name=question_vote[vote] value=1>Upvote</button>
		<button type="submit" name=question_vote[vote] value=-1>Downvote</button>
		<input type="hidden" name="question_vote[user_id]" value="<%= current_user.id%>">
		<input type="hidden" name="question_vote[question_id]" value="<%= @question.id%>">
	</form>

	<!-- Display answer form -->
	<div class="answer-action">
		<button>Answer</button>
		<div>
			<div class="answer-editor-header">
				<a class="user" href="/users/<%= current_user.id %>"><%= current_user.name %></a>
			</div>
			<div>
				<form id="answer-form" action="/answers" method="post">
					<textarea name="answer[content]" id="answer-form" placeholder="Write your answer"></textarea><br>
					<input type="hidden" name="answer[user_id]" value="<%= current_user.id %>">
					<input type="hidden" name="answer[question_id]" value="<%= @question.id %>">
					<br><input class="answer-button" type="submit" value="Submit">
				</form>
			</div>
		</div>
	</div>

	<!-- Display total count of answers to this question -->
	<div class="answer-count"><%= @answers.count %> Answer<%= 's' if @answers.count > 1 %></div>

	<!-- Display all answers to this question -->
	<div class="answer-list">
		<% @answers.each do |answer| %>
			<div class="answer-item">
				<div class="answer-head">
					<% author =  @user.find_by_id(answer.user_id) %>
					<a class="user" href="/users/<%= author.id %>"><%= author.name %></a>
				</div>
				<div class="answer-body">
					<%= answer.content %>
				</div>
			</div>
		<%  end %>
	</div>
</div>