<div class="question-body">
	<div class="question-title">
		<h1><%= @question.title%></h1>
	</div>
	<div class="answer-count"><%= @answers.count %> Answer<%= 's' if @answers.count > 1 %></div>
	<div class="answer-list">
		<% @answers.each do |answer| %>
			<div class="answer-item">
				<div class="answer-head">
					<% author =  @user.find_by_id(answer.user_id) %>
					<a class="user" href="/users/<%= author.id %>"><%= author.name %></a>
				</div>
				<div class="answer-body">
					<%= answer.content %>
				</div>
			</div>
		<%  end %>
	</div>
</div>