<body>
  <br>
  <div class = "container">
  <h1 id="profile"><%= @question.content %></h1>
  <br>
  <form role="form" action="/post_answer" method="post">
    <div class="form-group">
      <label class="sr-only" for="r-form-1-first-name">Answer</label>
      <input type="text" name="answer" placeholder="Answer..." class="r-form-1-answer form-control" id="r-form-1-answer">
      <input type="hidden" name="question_id" value="<%= @question.id %>">
      <br>
    <button type="submit" class="btn" id="submit_answer">Submit Answer</button>
    <p id="error">Please input an answer!<p>
  </div>
  </form>
</div>
<br>
<div class="container">
  <br>
  <table class="answer table-hover table-responsive">
    <tbody>
      <tr>
        <% @question.answers.each do |a| %>
        <td><%= a.answer %><br><br><a href="/likes/<%=a.id%>" type="button" class="btn" id="like_button">Upvote</a>
          <%= QuestionVote.where(question_id: a.id, value: 'up').count - QuestionVote.where(question_id: a.id, value: 'down').count %>
          <a href="/dislikes/<%=a.id%>" type="button" class="btn" id="like_button">Downvote</a><br><br></td>
      </tr>
        <% end %>
      </tbody>
    </table>
</div>
</body>
